@import "settings";

// footer

.footerContact {}

#footer {
  color: $black;
  z-index: 5;
  clear: both;
  width: 100%;
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  padding: 5em 0 3em;
  .wrapper {
    position: relative; 
  }
  .topFooter {
    padding: 0 0 18em;
    @media (min-width: $medium) {}
    @media (min-width: $tablet) {
      display: flex;
    }
    @media (min-width: $large) {}
    .left {
      display: flex;
      flex: 0 0 50%;
      h2 {
        font-size: 30px;
        max-width: 445px;
        margin: auto;
      }
    }
    .right {
      flex: 0 0 50%;
      .contactContent2 {
        form {
          p {
            margin-bottom: 20px;
            input {
              padding: 1em 2em;
              border: 1px solid #423845;
              border-radius: 2em;
              font-size: 1.125rem;
              width: 100%;
              background: transparent;
            }
            textarea {
              padding: 1em 2em;
              border: 1px solid #423845;
              border-radius: 2em;
              font-size: 1.125rem;
              width: 100%;
              background: transparent;
            }
            input[type="tel"] {}
            input[type="submit"] {
              color: $black;
              font-weight: 600;
              max-width: 175px;
              width: 100%;
              padding: .3em 0em .3em 2.25em;
              box-sizing: content-box;
              font-size: 1.4rem;
              float: right;
              margin-top: 16px;
              text-align: left;
              background: url(../images/arrow.svg) no-repeat 79%;
              &:hover {
                background: url(../images/arrow.svg) no-repeat 83%;
              }
            }
          }
        }
      }
    }
  }
  .lowerFooter {
    @media (min-width: $medium) {}
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $large) {}
    .left {
      flex: 0 0 50%;
      max-width: 460px;
      h2 {
        font-size: 1.5rem;
      }
      ul {
        list-style: none;
        columns: 2;
        margin-bottom: 0;
        li {
          @include font1();
          margin-bottom: 5px;
          a {
            color:  $black;
            font-weight: 100;
            @include hoverUnderline();
          }
        }
      }
    }
    .right {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      a {
        font-size: 1.4rem;
        color: $black;
        margin-bottom: 9px;
        &.copy {
          font-size: 1.125rem;
          margin-top: 1em;
          span {}
          img {
            display: inline-block;
          }
        }
      }
    }
  }
}
